name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install-deps
      run: sudo apt install tesseract-ocr-dev tesseract-ocr-eng libtiff5-dev libjpeg-dev libpng-dev libwebp-dev
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make install
      run: make install
    - name: vobsub2srt-runtest
      run: vobsub2srt --help
