name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: switch-mirror
      run: sudo sed -i 's|mirror+file://etc/apt-mirrors.txt|http://archive.ubuntu.org/ubuntu|g' /etc/apt/sources.list
    - name: update-apt
      run: sudo apt update
    - name: install-deps
      run: sudo apt install libtesseract-dev tesseract-ocr-eng libtiff5-dev libjpeg-dev libpng-dev libwebp-dev -y
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make install
      run: sudo make install
    - name: vobsub2srt-runtest
      run: vobsub2srt --ifo tests/eng.ifo --verbose tests/eng
