name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: switch-lang
      run: sudo localectl set-locale LANG=en_US.UTF-8
    - name: update-apt
      run: sudo apt update
    - name: install-deps
      run: sudo apt install libtesseract-dev tesseract-ocr-eng libtiff5-dev libjpeg-dev libpng-dev libwebp-dev -y
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make install
      run: sudo make install
    - name: vobsub2srt-runtest
      run: vobsub2srt --ifo tests/eng.ifo --lang eng --verbose tests/eng
